{% extends 'base.html.twig' %}

{% block title %}Registro1 index{% endblock %}

{% block body %}
    <h1>Registro1 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaAsesoria</th>
                <th>RadicadoCaso</th>
                <th>Area</th>
                <th>NombreCompleto</th>
                <th>DocumentoId</th>
                <th>FechaExpedicion</th>
                <th>Ocupacion</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th>Ciudad</th>
                <th>Direccion</th>
                <th>Barrio</th>
                <th>TelFijo</th>
                <th>TelCelular</th>
                <th>Email</th>
                <th>Estrato</th>
                <th>Escolaridad</th>
                <th>NombreContacto</th>
                <th>ParentescoContacto</th>
                <th>DireccionContacto</th>
                <th>BarrioContacto</th>
                <th>TelcelContacto</th>
                <th>EmailContacto</th>
                <th>PreguntaConsultorio</th>
                <th>Apoderado</th>
                <th>HechoCaso</th>
                <th>MenoresCaso</th>
                <th>PorSerRegistro</th>
                <th>PorSerPosibleSolucion</th>
                <th>NoSeIntentara</th>
                <th>FechaRegreso</th>
                <th>Lugar</th>
                <th>TelfijoContacto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registro1 in registro1s %}
            <tr>
                <td>{{ registro1.id }}</td>
                <td>{{ registro1.fechaAsesoria ? registro1.fechaAsesoria|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ registro1.radicadoCaso }}</td>
                <td>{{ registro1.area }}</td>
                <td>{{ registro1.nombreCompleto }}</td>
                <td>{{ registro1.documentoId }}</td>
                <td>{{ registro1.fechaExpedicion ? registro1.fechaExpedicion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ registro1.ocupacion }}</td>
                <td>{{ registro1.departamento }}</td>
                <td>{{ registro1.municipio }}</td>
                <td>{{ registro1.ciudad }}</td>
                <td>{{ registro1.direccion }}</td>
                <td>{{ registro1.barrio }}</td>
                <td>{{ registro1.telFijo }}</td>
                <td>{{ registro1.telCelular }}</td>
                <td>{{ registro1.email }}</td>
                <td>{{ registro1.estrato }}</td>
                <td>{{ registro1.escolaridad }}</td>
                <td>{{ registro1.nombreContacto }}</td>
                <td>{{ registro1.parentescoContacto }}</td>
                <td>{{ registro1.direccionContacto }}</td>
                <td>{{ registro1.barrioContacto }}</td>
                <td>{{ registro1.telcelContacto }}</td>
                <td>{{ registro1.emailContacto }}</td>
                <td>{{ registro1.preguntaConsultorio ? 'Yes' : 'No' }}</td>
                <td>{{ registro1.apoderado ? 'Yes' : 'No' }}</td>
                <td>{{ registro1.hechoCaso }}</td>
                <td>{{ registro1.menoresCaso ? 'Yes' : 'No' }}</td>
                <td>{{ registro1.porSerRegistro ? 'Yes' : 'No' }}</td>
                <td>{{ registro1.porSerPosibleSolucion ? 'Yes' : 'No' }}</td>
                <td>{{ registro1.noSeIntentara ? 'Yes' : 'No' }}</td>
                <td>{{ registro1.fechaRegreso ? registro1.fechaRegreso|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ registro1.lugar }}</td>
                <td>{{ registro1.telfijoContacto }}</td>
                <td>
                    <a href="{{ path('registro1_show', {'id': registro1.id}) }}">show</a>
                    <a href="{{ path('registro1_edit', {'id': registro1.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="35">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('registro1_new') }}">Create new</a>
{% endblock %}
